{% extends "base_m.html" %}
{% load static %}

{% block content %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .user_card {
        width: 370px;
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        background: #001514;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    h3{
        color: #fff;
    }
    #txt {
        width: 50%;
        height: 40px;
        border-radius: 20px;
        border: none;
        padding: 0 20px;
        font-size: 16px;
        margin-bottom: 20px;
        color: #fff;
        background-color: rgba(44, 108, 130, 0.3);
        /* Establecer el valor de opacidad en la propiedad background-color */
    }
</style>

<body>
    <div class="container">
        <div class="user_card">
            <h3>Verificación de ID</h3>
            <form action="">
                <div class="form-container">
                    <input type="text" name="" placeholder="ID o Nombre de Usuario" id="txt">
                </div>
                <div class="regver">
                    <input type="submit" value="Verificar" class="boton">
                    <input type="button" value="Registrar" class="boton">
                </div>
                <div class="pay">
                    <input type="button" value="Pagar" class="boton">
                </div>




            </form>
        </div>

    </div>

</body>
{% endblock content%}

{% block js %}

{% endblock js %}