{% extends "base_m.html" %}
{% load static %}

{% block content %}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user_card {
        width: 370px;
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        background: #001514;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;

    }

    .form_container {
        margin-top: 20px;
    }

    #form-title {
        color: #fff;
        font-family: marko-one;

    }

    .login_btn {
        width: 100%;
        background: #fff !important;
        color: black !important;
        margin-top: 30px;
        border-radius: 20px;
    }

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .login_container {
        padding: 0 2rem;
    }

    .input-group-text {
        background: #001514 !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }

    .form-control {
        border-radius: 20px;
        background-color: #fff;
        opacity: 80%;

    }

    .form-control:focus {
        background-color: #fff;
        opacity: 100%;
    }

    .form-group {
        margin-bottom: 80px;
    }

    .main {
        list-style: none;
        margin: 1em;
        display: grid;
        gap: 20px;
        grid-auto-flow: dense;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        /* Centra los elementos horizontalmente */
    }

    .botones {
        text-decoration: none;
        border-radius: 20px;
        background-color: #fff;
        width: 120px;
        height: 30px;
    }

    .botones.wide {
        grid-row: 2;
        /* Hace que el botón "Pagar" ocupe la segunda fila */
    }

    .botones {
        cursor: pointer;
    }

    .separados {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .centrado {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .textarea {
        display: block !important;
        margin: 0 0 25px !important;
        width: 70% !important;
        /* Modificar esta línea para que los inputs y textarea ocupen el ancho completo del formulario */
        height: 30px !important;
        background-color: rgba(255, 255, 255, 0.3) !important;
        /* Cambiar opacity por rgba */
        color: #FFFFFF !important;
        /* Establecer el color del texto en blanco */
        border-radius: 30px !important;
        text-align: center !important;
        border: black !important;
        resize: none;
    }

    .textposi {
        display: flex;
        justify-content: center;
        margin-top: 25%;
    }
</style>

<body>
    <br>
    <br>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 col-lg-4">
                <div class="card user_card p-3">
                    <div class="card-body">
                        <h3 id="form-title" class="text-center mb-4"
                            style="display: flex; justify-content: center; top: 10px; position: absolute;transform: translate(17%, 10%);">Verificación de ID</h3>
                        <form action="POST" method="get">
                            {% csrf_token %}
                            <div class="textposi">
                                <input type="text" name="nombre_o_id" placeholder="Nombre o ID del usuario:"
                                    id="nombre_o_id" class="textarea" style="width: 150px;">
                            </div>
                            <div class="separados">
                                <input type="submit" value="Verificar" class="botones">
                                <a href="/registrar_usuarios"><input type="button" value="Registrar"
                                        class="botones"></a>
                            </div>
                            <div class="centrado">
                                <a href="/pagar"><input type="button" value="Pagar" class="botones"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock content%}

{% block js %}

{% endblock js %}